---
layout: main
---

	<div class="fluid-container">
		<header class="header">
			<a href="#como-funciona">
				<button class="header--button">Como funciona</button>
			</a>
			<a href="#">
				<button class="header--button">Perguntas frequentes</button>
			</a>
			<a href="#">
				<button class="header--button">Retire aqui a 2º via<br class="hidden-1200"> do seu boleto</button>
			</a>
		</header>
	</div>
	
	<section class="content">
		<div class="container">
			<div class="row">
				

				<div class="col-sm-5">
					<img class="content--img" src="img/feirao-logo.png">
				</div>


				<div class="col-sm-7">
					<div class="block-main-text">
						<h1>Negocie sua dívida<br>com condições imperdíveis!</h1>	
						<h2>Não perca a oportunidade de quitar sua dívida com descontos de 100% nos juros e até 40% no valor principal.</h2>
						<hr>
						<h3>Nosso serviço é completamente <strong>gratuito</strong> para você!<br>Não cobramos nenhum tipo de taxa.</h3>
					</div>
				</div>


			</div>
		</div>
	</section>

	{% include partials/empresas-participantes.html %}
	{% include como-funciona.html %}
	{% include duvidas-frequentes.html %}