---
layout: main
---

	{% include header.html
		type="home"
	%}

	<section class="intro">
		<div class="container">


				<div class="col-sm-4">
					<img class="intro__img" src="img/feirao-logo.png">
					<img class="intro__img" src="img/grande-oportunidade.png">
				</div>

				<div class="col-sm-8">

					{% include partials/empresas-participantes.html %}

					<div class="block-main-text">
						<h1 class="block-main-text__title col-xs-12">Quite sua dívida com condições imperdíveis!</h1>
						<div class="row">
							<div class="col-md-6 col-xs-12 block-main-text__content">
								<div class="col-md-3 col-xs-2">
									<img src="img/check.svg">
								</div>
								<div class="col-md-9 col-xs-10">
									<h3>Não perca a chance de aproveitar as <strong>melhores condições</strong> para limpar o seu nome.</h3>
								</div>
							</div>
							<div class="col-md-6 col-xs-12 block-main-text__content">
								<div class="col-md-3 col-xs-2">
									<img src="img/check.svg">
								</div>
								<div class="col-md-9 col-xs-10">
									<h3>Nosso serviço é <strong>gratuito</strong> para você, somos remunerados pelas empresas parceiras.</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-12 block-main-text__content">
								<div class="col-md-3 col-xs-2">
									<img src="img/check.svg">
								</div>
								<div class="col-md-9 col-xs-10">
									<h3>Volte a ter um sono tranquilo e possuir crédito no mercado para realizar os seus sonhos grande e os de sua família!</h3>
								</div>
							</div>
						</div>
					</div>

				</div>
		</div>
		<div class="container">
			<div class="col-sm-4">
				{% include contatos.html %}
			</div>
			<div class="col-sm-8">
				{% include partials/forms/busca-dividida.html %}
			</div>
		</div>

	</section>

	{% include como-funciona.html %}
	{% include duvidas-frequentes.html %}