/*
deepGreen: #1A4757;
midGreen: #5E8B9B;
lightGreen: #4fb886;
green: #006a00;
blue: #003344;
*/

h1, h2, h3, p, input, button, label, a {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

h1, a {
	color: #006a00;
}

h1 {
	font-size: 2.2em;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

h2, h3, input, button, label {
	color: #003344;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

p, input, button, label, a {
	font-size: 1em;
}

a {
	font-weight: bold;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

.header {
	position: absolute;
	width: 100%;
	float: right;
	padding: 10px;
}

.header__button {
	background-color: transparent;
	color: #1A4757;
	border: none;
	width:100%;
	margin: 0 10px 10px 0;
	font-weight: bold;
	display: block;
	text-align: right;
}

.header__button:hover {
	color: #5E8B9B;
	border-color: #5E8B9B;
}

.header__button:active {
	color: #4fb886;
	border-color: #4fb886;
}

 .header__button:focus {
 	outline: none;
 }

.content {
	padding: 30px 0;
	background: rgb(238,255,238);
	background: -moz-linear-gradient(top,  rgba(238,255,238,1) 0%, rgba(255,255,255,1) 99%);
	background: -webkit-linear-gradient(top,  rgba(238,255,238,1) 0%,rgba(255,255,255,1) 99%);
	background: linear-gradient(to bottom,  rgba(238,255,238,1) 0%,rgba(255,255,255,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeffee', endColorstr='#ffffff',GradientType=0 );
}

.content__img {
	padding: 20px;
	width: 100%;
}

.content__link {
	margin: 20px 0;
	text-align: center;
}

.block-empresas {
	padding: 25px 0;
	background-color: #dee;
}

.block-empresas__img {
	margin: 20px 0;
	width: 60%;
}

.block-main-text {
	margin: 50px 0;
	text-align: center;
}

.block-form__input-row {
	height: 70px;
	margin: 10px 0;
	padding-right: 0;
}

.block-form__label {
	width: 15%;
	text-align: left;
	color: #fff;
}

.block-form__input {
	width: 83%;
	height: 100%;
	padding: 15px 2%;
	border: 2px solid #006a00;
	border-radius: 5px;
}

.block-form__input:hover {
	border-color: #009d00;
}

.block-form__input:active, .block-form__input:focus {
	border-color: #00cf00;
	outline: none;
}

.block-form__submit {
	height: 100%;
	background-color: #006a00;
	color: #fff;
	padding: 5px 35px;
	font-weight: bold;
	margin-left: 15%;
	border: none;
	border-radius: 5px;
}

.block-form__submit:hover {
	background-color: #004800;
}

.block-form__submit:active {
	background-color: #002600;
}

.block-form__submit:focus {
	outline: none;
}

.footer {
	background-color: #1A4757;
	padding: 100px 0;
}

.footer__col {
	margin: 40px 0 20px;
}

.footer__img {
	width: 50%;
	margin-left: 25%;
}

.footer__text {
	color: #fff;
	text-align: center;
}

.footer__text--underlined {
	padding-bottom: 10px;
	border-bottom: 3px solid #006a00;
}

/* MEDIA QUERIES */


 /* lg */
@media screen and (max-width: 1200px)
{
	.header {
		position: static;
		width: 100%;
	}

	.header__button {
		text-align: center;
		width: 30%;
		float: left;
	}

	.hidden-1200 {
		display: none;
	}

}


 /* md */
@media screen and (max-width: 992px)
{

	.block-form__input-row {
		margin: 0 5%;
		float: left;
		width: 90%;
		height: auto;
	}

	.block-form__label {
		width: 100%;
		margin: 20px 0 10px;
	}

	.block-form__input {
		width: 100%;
		height: 60px;
	}

	.block-form__submit {
		margin: 20px 0 0;
		padding: 20px;
	}
}


/* sm */
@media screen and (max-width: 768px)
{

	.content__img {
		margin: 0 15%;
		width: 70%;
	}

	.block-empresas__img {
		width: 50%;
	}

	* {
		text-align: center;
	}


	.footer__img {
		width: 30%;
		margin-left: 0;
	}
}

/* Livehelper */
@media only screen and (max-width: 640px)
{

	.block-empresas__img {
		width: 70%;
	}

	#lhc_status_container {
		margin-bottom: 0 !important;
	}

}