<section id="como-funciona" class="como-funciona">
	<div class="container">
			<h1 class="como-funciona__text como-funciona__text--underlined">Como funciona</h1>
			<div class="row">
				<div class="como-funciona__col col-sm-4">
					<img class="como-funciona__img" src="img/icones-1.png">
					<h2 class="como-funciona__text">Procure</h2>
					<h3 class="como-funciona__text">Consulte suas dívidas negociáveis através de seu CPF e Data de Nascimento</h3>
				</div>
				<div class="como-funciona__col col-sm-4">
					<img class="como-funciona__img" src="img/icones-2.png">
					<h2 class="como-funciona__text">Negocie</h2>
					<h3 class="como-funciona__text">Negocie suas dívidas com preços que cabem no seu bolso</h3>
				</div>
				<div class="como-funciona__col col-sm-4">
					<img class="como-funciona__img" src="img/icones-3.png">
					<h2 class="como-funciona__text">Gere o boleto</h2>
					<h3 class="como-funciona__text">Após fechar seu acordo, gere o boleto e limpe o seu nome!</h3>
				</div>
			</div>

			{% include partials/busca-dividida.html %}
			{% include partials/cadastre-se.html %}
			{% include partials/sms.html %}
			{% include partials/sem-contratos.html %}
	</div>
</section>