<section class="block-contatos">
	<div class="row">
		<div class="col-sm-12 col-xs-6 block-contatos__item">
			<div class="col-xs-3">
				<img class="block-contatos__img" src="img/c.svg">
			</div>
			<a class="col-xs-9" href="#">
				<h3 class="block-contatos__text">Prefere falar conosco?</h3>
			</a>
		</div>
		<div class="col-sm-12 col-xs-6 block-contatos__item">
			<div class="col-xs-3">
				<img class="block-contatos__img" src="img/a.svg">
			</div>
			<a class="col-xs-9" href="tel:08000244265">
				<h3 class="block-contatos__text"><strong>0800 024 4265</strong></h3>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-xs-6 block-contatos__item">
			<div class="col-xs-3">
				<img class="block-contatos__img" src="img/b.svg">
			</div>
			<a class="col-xs-9" href="tel:+5527998888389">
				<h3 class="block-contatos__text"><strong>WhatsApp: (27) 99888 8389</strong></h3>
			</a>
		</div>
		<div class="col-sm-12 col-xs-6 block-contatos__item">
			<div class="col-xs-3">
				<img class="block-contatos__img" src="img/d.svg">
			</div>
			<a class="col-xs-9" href="#">
				<h3 class="block-contatos__text">Deixe uma mensagem</h3>
			</a>
		</div>
	</div>
</section>