<div id="duvidas-frequentes">
    <div class="container">

        <h1>Perguntas Frequentes</h1>

        {%include partials/duvida.html
            pergunta="Como consigo me cadastrar e consultar minhas dívidas?"
            texto=" É muito simples! Basta clicar aqui - e inserir o seu CPF, data de nascimento e telefone celular. imediatamente será enviado para o seu telefone, uma senha que será utilizada para acessar a sua conta."
            link="#"
        %}

        {%include partials/duvida.html
            pergunta="Quais dívidas eu posso negociar no portal Feirão Limpe Seu Nome?"
            texto="As dívidas das empresas conveniadas, clique aqui e veja a lista. Dívidas de protestos e cheques sem fundos não podem ser negociadas neste portal."
            link="#"
        %}

        {%include partials/duvida.html
            pergunta="Qual o prazo para eu ter o meu nome limpo da dívida que foi feito o acordo?"
            texto="Após o pagamento da primeira parcela ou quitação, seu nome estará limpo em até 5 dias úteis."
        %}


    </div>
</div>