#duvidas-frequentes{
    padding: 50px;
    h2{
        text-align: center;
        font-size: 4rem;
    }
    h3{
        font-weight: 700;
        font-size: 2.5rem;
    }
    p, a p {
        font-size: 1.7rem;
    }
    .r {
        color: red;
    }
}