.header {
	position: absolute;
	width: 100%;
	float: right;
	padding: 10px;

	&__button {
		background-color: transparent;
		color: $deepGreen;
		border: none;
		width:100%;
		margin: 0 10px 10px 0;
		font-weight: bold;
		display: block;
		text-align: right;

		@media only screen and (max-width: 1200px) {
			text-align: center;
			width: 30%;
			float: left;
		}
	}

	&__button:hover {
		color: $midGreen;
		border-color: $midGreen;
	}

	&__button:focus {
		outline: none;
	}

	@media only screen and (max-width: 1200px) {
		position: static;
		width: 100%;
	}
}

.hidden-1200 {
	@media only screen and (max-width: 1200px) {
		display: none;
	}
}