.steps {
	@extend %gradient;
	border-bottom: solid 3px $green;

	&__img {
		width: 100%;
		margin-top: 20px;
		padding: 0;

		@media only screen and (max-width: 767px) {
			width: 50%;
			margin-left: 25%;
		}
	}

	&__activated::before {
		border: solid 1px red;
	}

	&__activated {

	}

	&__next {}
}