<div class="row">
	<div class="col-sm-2">
		<img class="header-segunda-pagina__img" src="img/feirao-logo.png">
	</div>
	<div class="col-sm-10 col-xs-12">
		<div class="step step--first step--activated">
			<div class="line"></div>
			<p class="number">1</p>
		</div>
		<div class="step step--activated">
			<div class="line"></div>
			<p class="number">2</p>
		</div>
		<div class="step">
			<div class="line"></div>
			<p class="number">3</p>
		</div>
		<div class="step">
			<div class="line"></div>
			<p class="number">4</p>
		</div>
		<div class="step">
			<div class="line"></div>
			<p class="number">5</p>
		</div>
	</div>
</div>
<div class="row steps-names">
	<div class="col-xs-2 col-sm-offset-2">
		<p class="steps-names__active">Página inicial</p>
	</div>
	<div class="col-xs-2">
		<p class="steps-names__active">Confirmação dos dados</p>
	</div>
	<div class="col-xs-2">
		<p class="steps-names__inactive">Cadastro de senha</p>
	</div>
	<div class="col-xs-2">
		<p class="steps-names__inactive">Realizar acordo</p>
	</div>
	<div class="col-xs-2">
		<p class="steps-names__inactive">Imprimir boleto</p>
	</div>
</div>