<form class="block-form" id="busca-dividida">
	<div class="block-form__input-row">
		<input class="block-form__input" type="text" placeholder="Nome">
	</div>
	<div class="block-form__input-row">
		<input class="block-form__input" type="text" placeholder="CPF">
	</div>
	<div class="block-form__input-row">
		<input class="block-form__input" type="text" placeholder="DD/MM/AAAA">
	</div>
	<div class="block-form__input-row">
		<input class="block-form__input" type="text" placeholder="(00) 0000-0000">
	</div>
	<a href="/test" class="block-form__input-row">
		<button type="button" class="block-form__submit" id="busca-dividida-submit">Buscar dívida</button>
	</a>
</form>