<form class="block-form" id="busca-dividida">
	<div class="block-form__input-row">
		<label class="block-form__label">Nome:</label>
		<input class="block-form__input" type="text" placeholder="Nome">
	</div>
	<div class="block-form__input-row">
		<label class="block-form__label">CPF:</label>
		<input class="block-form__input" type="text" placeholder="CPF">
	</div>
	<div class="block-form__input-row">
		<label class="block-form__label">Data de nascimento:</label>
		<input class="block-form__input block-form__input--date" type="date" placeholder="DD/MM/AAAA">
	</div>
	<div class="block-form__input-row">
		<label class="block-form__label">Telefone celular:</label>
		<input class="block-form__input" type="tel" placeholder="(00) 0000-0000">
	</div>
	<div class="block-form__input-row">
		<button type="button" class="block-form__submit" id="busca-dividida-submit">Buscar dívida</button>
	</div>
</form>