<div class="block-form" id="cadastre-se">
	<h1>Você ainda não possui cadastro em nosso portal!</h1>
	<h2>Confirme seus dados abaixo e cadastre-se já:</h2>
	<form>
		<div class="block-form__input-row">
			<label class="block-form__label">Nome:</label>
			<input class="block-form__input block-form__input--w-label" type="text" placeholder="Seu nome">
		</div>
		<div class="block-form__input-row">
			<label class="block-form__label">CPF:</label>
			<input class="block-form__input block-form__input--w-label" type="text" placeholder="CPF">
		</div>
		<div class="block-form__input-row">
			<label class="block-form__label">Data de Nascimento:</label>
			<input class="block-form__input block-form__input--w-label block-form__input--date" type="date" placeholder="DD/MM/AAAA">
		</div>
		<div class="block-form__input-row">
			<label class="block-form__label">Telefone Celular:</label>
			<input class="block-form__input block-form__input--w-label" type="tel" placeholder="(00) 0000-0000">
		</div>
		<div class="block-form__input-row">
			<button type="button" class="block-form__submit block-form__submit--w-label" id="cadastre-se-submit">Cadastrar</button>
		</div>
	</form>
</div>