<div class="sem-contratos block-form" id="sem-contratos">
	<h1 class="como-funciona__text como-funciona__text--underlined">Infelizmente não encontramos contratos que atendem os critérios desse Feirão.</h1>
	<h2 class="como-funciona__text">Informe abaixo para qual credor você possui dívidas que iremos solicitar mais informações para você.</h2>
	<form>
		<div class="block-form__input-row">
			<label class="block-form__label">Nome:</label>
			<input class="block-form__input" type="text" placeholder="Nome">
		</div>

		<div class="block-form__input-row">
			<label class="block-form__label">CPF:</label>
			<input class="block-form__input" type="text" placeholder="CPF">
		</div>

		<div class="block-form__input-row">
			<label class="block-form__label">E-mail:</label>
			<input class="block-form__input" type="email" placeholder="E-mail">
		</div>

		<div class="block-form__input-row">
			<label class="block-form__label">Data de Nascimento:</label>
			<input class="block-form__input block-form__input--date" type="date" placeholder="DD/MM/AAAA">
		</div>

		<div class="block-form__input-row">
			<label class="block-form__label">Telefone Celular:</label>
			<input class="block-form__input" type="tel" placeholder="(00) 0000-0000">
		</div>

		<div class="block-form__input-row">
			<label class="block-form__label">Credores:</label>
			<button type="button" class="block-form__submit block-form__submit--procurar">Procurar</button>
		</div>

		<div class="block-form__input-row">
			<label class="block-form__label">Como você deseja receber nosso contato?</label>
			<label class="block-form__label block-form__label--checkbox"><input type="checkbox" value="">Whatsapp</label>
			<label class="block-form__label block-form__label--checkbox"><input type="checkbox" value="">SMS</label>
			<label class="block-form__label block-form__label--checkbox"><input type="checkbox" value="">E-mail</label>
			<label class="block-form__label block-form__label--checkbox"><input type="checkbox" value="">Telefone</label>
		</div>

		<div class="block-form__input-row">
			<label class="block-form__label">Mensagem:</label>
			<textarea rows="3" cols="130" placeholder="Mensagem" class="block-form__input"></textarea>
		</div>

		<div class="block-form__input-row">
			<button type="button" class="block-form__submit" id="sem-contratos-submit">Enviar mensagem</button>
		</div>
	</form>
</div>