<div class="block-form" id="visualizar-propostas">
	<h1 class="como-funciona__text como-funciona__text--underlined">Selecione o credor que deseja visualizar suas propostas:</h1>
	<h2 class="como-funciona__text">Obs.: Você deve escolher um único credor por vez</h2>
	<div class="col-sm-4">
		<h3 class="como-funciona__text">Nome: <span>Fulano da Silva Ferreira</span></h3>
	</div>
	<div class="col-sm-4">
		<h3 class="como-funciona__text">Data de Nascimento: <span>12/08/1980</span></h3>
	</div>
	<div class="col-sm-4">
		<h3 class="como-funciona__text">CPF: <span>000.000.000-00</span></h3>
	</div>
	<div class="pre-scrollable">
		<table class="block-table">
			<tr class="block-table__row">
				<th></th>
				<th>Credor</th>
				<th>Contratos</th>
				<th>Data do contrato</th>
				<th>Nº de parcelas de contrato</th>
				<th>Valor atualizado</th>
				<th>Valor de desconto</th>
				<th>Local de compra</th>
				<th></th>
			</tr>
			<tr class="block-table__row">
				<td><button type="button" class="block-table__button">Mostrar propostas</button></td>
				<td>AGORACRED</td>
				<td>00383FF</td>
				<td>10/02/2015</td>
				<td>18</td>
				<td>R$ 3.450,23</td>
				<td>R$ 2.220,43</td>
				<td>Loja nº 01</td>
				<td><button type="button" class="block-table__button">Status: -</button></td>
			</tr>
			<tr class="block-table__row">
				<td><button type="button" class="block-table__button">Mostrar propostas</button></td>
				<td>AGORACRED</td>
				<td>00383FF</td>
				<td>10/02/2015</td>
				<td>18</td>
				<td>R$ 3.450,23</td>
				<td>R$ 2.220,43</td>
				<td>Loja nº 01</td>
				<td><button type="button" class="block-table__button">Status: -</button></td>
			</tr>
		</table>
	</div>
	<div class="block-form__row">
		<button type="button" class="block-form__submit block-form__submit--center" id="visualizar-propostas-submit">Concluir negociação</button>
	</div>
</div>