<form class="block-form" id="busca-dividida">
	<div class="block-form__input-row">
		<label class="block-form__label">CPF:</label>
		<input class="block-form__input" type="text" placeholder="CPF">
	</div>
	<div class="block-form__input-row">
		<label class="block-form__label">Data de nascimento:</label>
		<input class="block-form__input" type="date" placeholder="DD/MM/AAAA">
	</div>
	<div class="block-form__input-row">
		<label class="block-form__label">Telefone celular:</label>
		<input class="block-form__input" type="tel" placeholder="Telefone celular">
	</div>
	<div class="block-form__input-row">
		<button class="block-form__submit">Buscar dívida</button>
	</div>
</form>