<div class="cadastre-se block-form" id="cadastre-se">
	<h1 class="como-funciona__text como-funciona__text--underlined">Você ainda não possui cadastro em nosso portal!</h1>
	<h2 class="como-funciona__text">Confirme seus dados abaixo e cadastre-se já:</h2>
	<form class="block-form">
		<div class="block-form__input-row">
			<label class="block-form__label">Nome:</label>
			<input class="block-form__input" type="text" placeholder="Seu nome">
		</div>
		<div class="block-form__input-row">
			<label class="block-form__label">CPF:</label>
			<input class="block-form__input" type="text" placeholder="CPF">
		</div>
		<div class="block-form__input-row">
			<label class="block-form__label">Data de Nascimento:</label>
			<input class="block-form__input" type="date" placeholder="DD/MM/AAAA">
		</div>
		<div class="block-form__input-row">
			<label class="block-form__label">Telefone Celular:</label>
			<input class="block-form__input" type="tel" placeholder="Telefone celular">
		</div>
		<div class="block-form__input-row">
			<button class="block-form__submit">Cadastrar</button>
		</div>
	</form>
</div>