	<section class="block-empresas">
		<div class="container">
			<h3>Empresas participantes:</h3>
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<img class="block-empresas__img" src="img/logo-parceiros-1.png">
				</div>
				<div class="col-sm-3 col-xs-6">
					<img class="block-empresas__img" src="img/logo-parceiros-2.png">
				</div>
				<div class="col-sm-3 col-xs-6">
					<img class="block-empresas__img" src="img/logo-parceiros-3.png">
				</div>
				<div class="col-sm-3 col-xs-6">
					<img class="block-empresas__img" src="img/logo-parceiros-4.png">
				</div>
			</div>
		</div>
	</section>